@media (min-width: 1025px) and (max-width: 1440px) {
  .container {
    max-width: 1025px;
  }

  .header__nav-list {
    margin-left: 320px;
    align-items: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 769px;
  }

  .header__nav-list {
    margin-left: 10%;
    align-items: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 481px;
  }

  .header__nav-list {
    display: none;
    margin-left: 10%;
    align-items: center;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .container {
    max-width: 481px;
  }

  .header__nav-list {
    display: none;
    margin-left: 10%;
    align-items: center;
  }

  .header__nav-button {
  }
}
